LARAVEL_DOMAIN=leanpublic.nfrozensky.ai-info.ru
FASTAPI_DOMAIN=api.leanpublic.nfrozensky.ai-info.ru

MYSQL_DATABASE=leanpublic
MYSQL_USER=leanpublic
MYSQL_PASSWORD=leanpublic_password
MYSQL_ROOT_PASSWORD=root_secure_password
